name: tests

on:
  workflow_call:
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          # cache: "npm" # needs lockfile if enabled
      - name: Set Go version from .prototools
        id: set_go_version
        run: |
          GO_VERSION=$(grep '^go' .prototools | grep -o '".*"' | tr -d '"')
          echo "GO_VERSION=$GO_VERSION" >> $GITHUB_ENV
      - name: go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.1.6
      - run: npm install
      - run: npm run lint
      - run: npm test
